<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drawing_app/css/create_style.css' %}">
</head>
<body>
    <div class="container">
        <form action="/room" method="post">
            {% csrf_token %} 
            <h2>Choose a Display Name</h2>
            <input name="user-name-input" type="text" size="40" required/><br/>
            <p>(A random ID for the room will be generated upon creation)</p>
            <input type="submit" value="Enter" class="button"/>
        </form>
    </div>
</body>
</html>