<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drawing_app/css/room_style.css' %}">
    <link rel="stylesheet" href="{% static 'drawing_app/css/colors.css' %}">
    <script src="{% static 'drawing_app/js/color.js' %}"></script>  
</head>
<body style="background-image: linear-gradient(to bottom right, #2CC4D3, #2C70D3);">
    
        <!-- ************************Loader************************ -->
        <div class="loader">
            <img src="https://media3.giphy.com/media/5h3IepWPgqHBh7WG6r/source.gif" alt="Loading...">Loading...
        </div>
        <!-- ************************Loader************************ -->
        <div style="background-color: white; border: 1.5px solid black; display: inline-block; margin: 40px;">
            <canvas id="canvas" width="700" height="514" style="background-color: white"></canvas>
            <a class="advanced" data-id="color-2"  id = "color_wheel" href="#" style="background-color:#000;"></a>
        </div>
        <div style="background-color: white; border: 1.5px solid black; vertical-align: top; display: inline-block; width: 30%; height: 620px; margin: 10px; padding: 7px;">
            LOBBY | Room ID: PLACEHOLDER | <a href="/">Leave</a>
            <textarea id = "users_in_the_room" disabled style="background-color: white; resize: none; display: block; height: 200px; width: 100%; padding: 5px;"></textarea>
            <textarea id="chat-log" disabled cols="100" rows="20" style="resize: none; background-color: white; display: block; width: 100%; height: 300px; padding: 5px;"></textarea><br/>
            <input id="chat-message-input" type="text" size="100" placeholder="Chat here" style="display: block; width: 80%; margin-top: -15px; background-color: white"/>
            <input id="chat-message-submit" type="button" value="Send"/>
        </div>
    </body>
<script>
    window.addEventListener("load", function(){
        const loader = document.querySelector(".loader");
        loader.className += " hidden";
    });
 
var mouseX,mouseY,mouseDown=0;
var roomName = {{ room_name_json }};
var touchX,touchY;
var canvas = document.getElementById('canvas');
var ctx;
var clickX = new Array();
var clickY = new Array();
var clickDrag = new Array();
var colorArr = new Array();
var paint;
var message = "";
var user_name = {{user_name_json}};
var isHost = false;
var current_color = "#000";

if (canvas.getContext)
ctx = canvas.getContext('2d');

// Check that we have a valid context to draw on/with before adding event handlers
if (ctx) {
    // React to mouse events on the canvas, and mouseup on the entire document
    canvas.addEventListener('mousedown', sketchpad_mouseDown, false);
    canvas.addEventListener('mousemove', sketchpad_mouseMove, false);
    window.addEventListener('mouseup', sketchpad_mouseUp, false);
    
    // React to touch events on the canvas
    canvas.addEventListener('touchstart', sketchpad_touchStart, false);
    canvas.addEventListener('touchmove', sketchpad_touchMove, false);
    canvas.addEventListener('touchend', sketchpad_touchEnd, false);
}
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    
    
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
            if (data['message']){
                message = data['message'];                
                if (message.length > 0){
                    document.querySelector('#chat-log').value += (message + '\n');
                }
            }
            if (!isHost){
                clickX.push(data['clickX']);
                clickY.push(data['clickY']);
                clickDrag.push(data['clickDrag']);
                colorArr.push(data['clickColor']);                
                redraw()
            }
            if (data['user_names']){
                var all_names = data['user_names'];                
                var cur_user = data['current_user'];                
                if (all_names.length > 0){
                    $('#users_in_the_room').val('');
                    for (var u in all_names){
                        document.querySelector('#users_in_the_room').value += (all_names[u].name + '\n');
                    }
                    isHost = cur_user.isHost
                    
                }
            }
            if (data['winner']){               
                var cur_user = data['winner'];    
                      
                isHost = cur_user.isHost;
                clearCanvas(canvas,ctx);
            }
        
        
    };
    //document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if (message.length > 0) {
            chatSocket.send(JSON.stringify({
                'message': user_name + ": " + message
            }));
        }
        messageInputDom.value = '';
    };

function addClick(x, y, dragging){
    if (isHost){
        clickX.push(x);
        clickY.push(y);
        clickDrag.push(dragging);
        current_color = $('#color_wheel').css('background-color');  
        colorArr.push(current_color);
        chatSocket.send(JSON.stringify({
            'clickX': x,
            'clickY': y,
            'clickDrag': dragging,
            'clickColor': current_color
        }));
    }
}

function redraw(){
    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    ctx.lineJoin = "round";
    ctx.lineWidth = 5;
    ctx.strokeStyle = current_color;          
    for(var i=0; i < clickX.length; i++) {
       		
        ctx.beginPath();
        if(clickDrag[i] && i){
            ctx.moveTo(clickX[i-1], clickY[i-1]);
        }else{
            ctx.moveTo(clickX[i]-1, clickY[i]);
        }
        ctx.lineTo(clickX[i], clickY[i]);
        ctx.closePath();
        ctx.strokeStyle = colorArr[i];
        ctx.stroke();
    }
}
// Clear the canvas context using the canvas width and height
function clearCanvas(canvas,ctx) {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    clickX = new Array();
    clickY = new Array();
    clickDrag = new Array();
    colorArr = new Array();
}

// Keep track of the mouse button being pressed and draw a dot at current location
function sketchpad_mouseDown(e) {
    var mouseX = e.pageX - this.offsetLeft;
    var mouseY = e.pageY - this.offsetTop;
    paint = true;
    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, false);
    redraw();
}

// Keep track of the mouse button being released
function sketchpad_mouseUp(e) {
    paint = false;
}

// Keep track of the mouse position and draw a dot if mouse button is currently pressed
function sketchpad_mouseMove(e) { 
    // Update the mouse co-ordinates when moved
    getMousePos(e);

    if(paint){
        addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
        redraw();
    }
}

// Get the current mouse position relative to the top-left of the canvas
function getMousePos(e) {
    if (!e)
        var e = event;

    if (e.offsetX) {
        mouseX = e.offsetX;
        mouseY = e.offsetY;
    }
    else if (e.layerX) {
        mouseX = e.layerX;
        mouseY = e.layerY;
    }
 }

// Draw something when a touch start is detected
function sketchpad_touchStart() {
    // Update the touch co-ordinates
    getTouchPos();

   
    paint = true;
    addClick(touchX, touchY,false);
    redraw();
    // Prevents an additional mousedown event being triggered
    event.preventDefault();
}

// Draw something and prevent the default scrolling when touch movement is detected
function sketchpad_touchMove(e) { 
    // Update the touch co-ordinates
    getTouchPos(e);

    // During a touchmove event, unlike a mousemove event, we don't need to check if the touch is engaged, since there will always be contact with the screen by definition.
    
    if(paint){
        addClick(touchX, touchY, true);
        redraw();
    }
    
    // Prevent a scrolling action as a result of this touchmove triggering.
    event.preventDefault();
}
function sketchpad_touchEnd(e) { 
    // Update the touch co-ordinates
    getTouchPos(e);

    paint = false;
    
    // Prevent a scrolling action as a result of this touchmove triggering.
    event.preventDefault();
}

// Get the touch position relative to the top-left of the canvas
// When we get the raw values of pageX and pageY below, they take into account the scrolling on the page
// but not the position relative to our target div. We'll adjust them using "target.offsetLeft" and
// "target.offsetTop" to get the correct values in relation to the top left of the canvas.
function getTouchPos(e) {
    if (!e)
        var e = event;

    if(e.touches) {
        if (e.touches.length == 1) { // Only deal with one finger
            var touch = e.touches[0]; // Get the information for finger #1
            touchX=touch.pageX-touch.target.offsetLeft;
            touchY=touch.pageY-touch.target.offsetTop;
        }
    }
}
$(function(){
    $('#btn_clear').click(function() {
        clearCanvas(canvas,ctx); 
    });
});
  


</script>
</html>