<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Crocodile</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'drawing_app/css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Crocodile!</h1>
            <h2>Guess the picture to win</h2>
            <img src="{% static 'drawing_app/images/cartooncroc.png' %}">
            <h3>Join or Create a room to begin</h3>
            <form action="" style="display: inline-block">
                <button type="submit" class="join">Join</button>
            </form>
            <form action="" style="display: inline-block">
                <button type="submit" class="create">Create</button>
            </form>
        </div>
    </body>
</html>